$font-stack: Arial, Helvetica, sans-serif;
$font-color: #000000;
$a-color: #c2098c;
$a-hover-color: #e61235;
$bg-color: #f7f7f7;
$bg-color2: #d6daf0;

* {
  box-sizing: border-box;
}

/*a,
#ctrl-buttons > span,
#ctrl-seeker-empty,
.breadcrumb {
  -webkit-transition: all .1s ease;
          transition: all .1s ease;
}*/

.relHeight {
  position: relative;
  height: 100%;
}
.relWidth {
  position: relative;
  width: 100%;
}
.float-left {
  float: left;
}
.float-right {
  float: right;
}

html {
  // @extend .relHeight;
  background: $bg-color;

}

body {
  @extend .relHeight;
  margin: 0;
  padding: 10px;
  font: 100% $font-stack;
  font-size: 10pt;
  color: $font-color;
  background: $bg-color;

  background: -moz-linear-gradient(top, #dfcbd2 0px, #f7f7f7 200px); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0px,#dfcbd2), color-stop(200px,#f7f7f7)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #dfcbd2 0px,#f7f7f7 200px); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #dfcbd2 0px,#f7f7f7 200px); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #dfcbd2 0px,#f7f7f7 200px); /* IE10+ */
  background: linear-gradient(to bottom, #dfcbd2 0px,#f7f7f7 200px); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dfcbd2', endColorstr='#f7f7f7',GradientType=0 ); /* IE6-9 */
  background-repeat: no-repeat;

  line-height: 1.2em;
}

a {
  color: $a-color;
  text-decoration: none;
}
a:hover {
  color: $a-hover-color;
  text-decoration: underline;
}
a:focus {
  @extend a:hover;
}

.post-num > a {
  color: $font-color;
}
.post-num > a:hover {
  color: $a-hover-color;
}


.postform {
  max-width: 400px;
  margin: 0 auto;
  textarea {
    font: 100% $font-stack;
    width: 100%;
  }
}
.form-tags {
  width: 100%;
  font-size: 0.8em;
  width: 100%;
  display: flex;
  flex-flow: row wrap;

  label {
    flex: 1 1 20%;
    width: 100%;
    cursor: pointer;
    margin: 1px;
    //border: 1px solid rgba(0,0,0,0.2);

    :checked + span {
      font-weight: bold;
      text-decoration: underline;
    }
    input {
      font: 0.8em $font-stack;
      display: none;
    }
  }
  label:hover {
    text-decoration: underline;
  }
}
.form-persona {
  width: 100%;
  display: flex;
  flex-direction: row;

  .field {
    flex: 1 1 0%;
    width: 0px;
  }
}
.form-file-and-submit {
  input[type=submit] {
    float: right;
  }
}

#logo {
  margin: 0 0 1em;
}
#logo > img {
  display: block;
  margin: 0 auto;
}