@media only screen and (max-device-width: 600px) {
  html {
    -moz-text-size-adjust:none;
    -webkit-text-size-adjust:none;
    -ms-text-size-adjust:none;
  }

  body {
    font-size: 20pt;
  }

  .post {
    width: 100%;
  }
}
