$reply-color: #dfcbd2;
$reply-color2: #ebbac8;
$border-color: #d8b9c4;
$font-name-color: #985c75;
$font-quote-color: #295f93;
$font-subject-color: #3d3f57;

.tag {
  border-top: 1px solid $border-color;
  border-radius: 5px;
  padding: 2px 3px;
  margin: 2px 0;
  background-color: $reply-color;
  display: inline-block;
}
.tag-abbr:before,
.tag-abbr:after {
  content: '/';
}
.tag.primary {
  background-color: $reply-color2;
}

.thread {
  margin: 2em 0;
}
.post-container {
  margin: 4px 0;
}
.post {
  padding: 0.4em 0.8em;
}
.reply {
  display: inline-block;
  background-color: $reply-color;
  border-radius: 5px;
  border-top: 1px solid $border-color;
}
.reply:target,
.reply.hilight {
  background-color: $reply-color2;
}
.subject {
  font-weight: bold;
  color: $font-subject-color;
}
.tag,
.name,
.tripcode {
  color: $font-name-color;
}
.sage .name,
.sage .tripcode {
  color: $font-subject-color;
}
.name {
  font-weight: bold;
}
.quote {
  color: $font-quote-color;
}

.file:not(.multifile) .post-image {
  float: left;
}
.file-name:hover > .file-name-truncated,
.file-name-original {
  display: none;
}
.file-name:hover > .file-name-original {
  display: inline;
}

.post-info,
.file-info {
  display: block;
  margin: 0 0em 0.2em;
}
.post-message {
  display: block;
  margin: 0.4em 0 0.5em 0.3em;
}
.post-image {
  display: block;
  margin: 0 1em 0.5em 0;
}

.catalog {
  margin: 2em 1em 1em;
  text-align: center;
}
.catalog-thread {
  display: inline-block;
  width: 170px;
  max-height: 330px;
  overflow: hidden;
  word-wrap: break-word;
  vertical-align: top;
  margin-bottom: 15px;

  img {
    max-width: 100%;
  }
  .tag {
    font-size: 0.8em;
  }
  .tag-name {
    display: none;
  }
}
.catalog-stats {
  font-size: 0.8em;
  font-weight: bold;
}