<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/css/thread.css">
  <link rel="stylesheet" href="/css/mobile.css">
<% include favicon %>
</head>
<body>