<div id="postarea">
  <form id="threadform" class="postform" action="post" method="post" enctype="multipart/form-data" accept-charset="utf-8">
    <div class="form-tags">
<% tags.forEach(function(tag) { %>
      <label class="field tag<%- _.is(tag.primary, ' primary', ' secondary') %>"><input type="checkbox" name="tags" value="<%= tag._id %>"><span><span class="tag-abbr"><%= tag._id %></span> <span class="tag-name"><%= tag.name %></span></span></label>
<% }) %>
    </div>
    <div class="form-persona">
      <input class="field" size="1" name="name" placeholder="Name">
      <input class="field" size="1" name="opts" placeholder="Options">
      <input class="field" size="1" name="subj" placeholder="Subject">
    </div>
    <div class="form-textarea">
      <textarea name="comm" cols="48" rows="6" wrap="soft" placeholder="Comment"></textarea>
    </div>
    <input type="hidden" name="resto" value="0">
    <div class="form-file-and-submit">
      <input type="file" name="uploadimg" value="File" multiple="">
      <input type="submit" value="Start a new thread">
    </div>
  </form>
</div>