  <div id="postarea">
    <form id="threadform" class="postform" action="/post" method="post" enctype="multipart/form-data" accept-charset="utf-8">
      <div class="form-persona">
        <input class="field" size="1" name="name" placeholder="Name">
        <input class="field" size="1" name="opts" placeholder="Options">
      </div>
      <div class="form-textarea">
        <textarea name="comm" cols="48" rows="6" wrap="soft" placeholder="Comment"></textarea>
      </div>
      <input type="hidden" name="resto" value="<%= threadnum %>">
      <div class="form-file-and-submit">
        <input type="file" name="uploadimg" value="File" multiple="">
        <input type="submit" value="Reply to thread">
      </div>
    </form>
  </div>