<% include ./partials/head %>

  <div id="links" class="float-right">
    [<a href="/">Index</a>]
  </div>
  <div class="admin-panel">
    <h1>Admin Panel</h1>
    <form id="admin-form" class="adminform" action="admin" method="post" accept-charset="utf-8">
      <h2>Tags</h2>
      <div class="setting-section">
        <h3>Add a new tag</h3>
        <input class="field" name="add_tag_abbr" placeholder="Tag abbreviation">
        <input class="field" name="add_tag_name" placeholder="Full tag name">
        <input type="checkbox" class="field" name="add_tag_secondary">Secondary?
        <input type="submit" name="submit_add_tag" value="Add a new tag">
      </div>
      <div class="setting-section">
        <h3>Edit a tag</h3>
        <% if (tags.length == 0) { %>
          <span>There are no tags yet!</span>
        <% } else { %>
        <select name="tag_to_edit">
          <option disabled selected>(Choose a tag to edit)</option>
          <% tags.forEach(function(tag) { %><option value="<%=tag._id%>"><%=tag._id+' - '+tag.name%></option>
          <% }); %>
        </select>
        <input class="field" name="edit_tag_name" placeholder="Full tag name">
        <input type="checkbox" class="field" name="edit_tag_secondary">Secondary?
        <input type="submit" name="submit_edit_tag" value="Edit tag">
        <% } %>
      </div>
      <div class="setting-section">
        <h3>Remove a tag</h3>
        <% if (tags.length == 0) { %>
          <span>There are no tags yet!</span>
        <% } else { %>
        <select name="tag_to_remove">
          <option disabled selected>(Choose a tag to remove)</option>
          <% tags.forEach(function(tag) { %><option value="<%=tag._id%>"><%=tag._id+' - '+tag.name%></option>
          <% }); %>
        </select>
        <input type="submit" name="submit_remove_tag" value="Remove tag">
        <% } %>
      </div>
    </form>
  </div>

<% include ./partials/foot %>