<% include ./partials/head %>
  <div id="links" class="float-right">
    [<a href="/admin">Admin</a>]
  </div>
  <div id="logo">
    <img src="img/eh.png" alt="ehh">
  </div>
  <% include ./partials/postformop %>
  <div class="catalog">
<% data.forEach(function(op) { %>
    <div class="catalog-thread">
      <div class="catalog-tags">
        <% for (var id in op.fTags) { %>
        <span class="tag"><span class="tag-abbr"><%= id %></span> <span class="tag-name"><%= op.fTags[id] %></span></span>
        <% } %>
      </div>
    <% if (op.images && op.images[0]) { %>
      <a href="/thread/<%= op.number %>"><img class="catalog-thumb" src="<%- _.thumb_path(op.images[0].thumbname); %>"></a>
    <% } %>
      <div class="post-num"><a href="/thread/<%= op.number %>">No.<%= op.number %></a></div>
      <div class="catalog-stats">0 / 0</div>
    <% if (op.subject != '') { %>
      <div class="subject"><%= op.subject %></div>
    <% } %>
      <div class="catalog-message"><%- op.fMessage %></div>
    </div>
<% }); %>
  </div>

<% include ./partials/foot %>