<% include ./partials/head %>
<% include ./partials/postformreply %>
  <div id="links">
    [<a href="/">Index</a>]
  </div>
  <div class="thread">
    <div id="tags">
    <% data.tags.forEach(function(tag) { %>
      <span class="tag"><span class="tag-abbr"><%= tag._id %></span> <span class="tag-name"><%= tag.name %></span></span>
    <% }) %>
    </div>
    <% var post = data.op; %>
    <div class="post-container op-container">
      <div class="post op" id="p<%= post.number %>">
        <div class="files">
        <% if (post.images) { post.images.forEach(function(img) { %>
          <div class="file<%- _.is(post.images.length>1, ' multifile') %>">
            <span class="file-info">
              <a target="_blank" href="<%- _.img_path(img.name) %>" download="<%= img.originalname %>" class="file-name" title="Save as original filename">
                <span class="file-name-truncated"><%= img.fTruncatedname %></span>
                <span class="file-name-original"><%= img.originalname %></span>
              </a>
              <span class="not-important">(<%- img.fSize %>, <%- img.width %>x<%- img.height %>)</span>
            </span>
            <a target="_blank" href="<%- _.img_path(img.name) %>"><img class="post-image" src="<%- _.thumb_path(img.thumbname) %>" alt=""></a>
          </div>
        <% }) } %>
        </div>
        <div class="post-info">
          <span class="subject"><%= post.subject %></span>
          <span class="identity"><span class="name"><%= post.name %></span> <span class="tripcode"><%= post.trip %></span></span>
          <span class="dateTime" data-time="<%= post.time %>"><%= post.fDate %></span>
          <span class="post-num"><a href="#p<%= post.number %>">No</a>.<%= post.number %></span>
        </div>
        <p class="post-message">
          <%- post.fMessage %>
        </p>
      </div>
    </div>
<% data.replies.forEach(function(post) { %>
    <div class="post-container reply-container">
      <div class="post reply<%- _.is(post.sage, ' sage') %>" id="p<%= post.number %>">
        <div class="post-info">
          <span class="identity"><span class="name"><%= post.name %></span> <span class="tripcode"><%= post.trip %></span></span>
          <span class="datetime" data-time="<%= post.time %>"><%= post.fDate %></span>
          <span class="post-num"><a href="#p<%= post.number %>">No</a>.<%= post.number %></span>
        </div>
        <div class="files">
        <% if (post.images) { post.images.forEach(function(img) { %>
          <div class="file<%- _.is(post.images.length>1, ' multifile') %>">
            <span class="file-info">
              <a target="_blank" href="<%- _.img_path(img.name) %>" download="<%= img.originalname %>" class="file-name" title="Save as original filename">
                <span class="file-name-truncated"><%= img.fTruncatedname %></span>
                <span class="file-name-original"><%= img.originalname %></span>
              </a>
              <span class="not-important">(<%- img.fSize %>, <%- img.width %>x<%- img.height %>)</span>
            </span>
            <a target="_blank" href="<%- _.img_path(img.name) %>"><img class="post-image" src="<%- _.thumb_path(img.thumbname) %>" alt=""></a>
          </div>
        <% }) } %>
        </div>
        <p class="post-message">
          <%- post.fMessage %>
        </p>
      </div>
    </div>
<% }) %>
  </div>
<% include ./partials/foot %>