* { box-sizing: border-box; }

/*a,
#ctrl-buttons > span,
#ctrl-seeker-empty,
.breadcrumb {
  -webkit-transition: all .1s ease;
          transition: all .1s ease;
}*/
.relHeight, body { position: relative; height: 100%; }

.relWidth { position: relative; width: 100%; }

.float-left { float: left; }

.float-right { float: right; }

html { background: #f7f7f7; }

body { margin: 0; padding: 10px; font: 100% Arial, Helvetica, sans-serif; font-size: 10pt; color: #000000; background: #f7f7f7; background: -moz-linear-gradient(top, #dfcbd2 0px, #f7f7f7 200px); /* FF3.6+ */ background: -webkit-gradient(linear, left top, left bottom, color-stop(0px, #dfcbd2), color-stop(200px, #f7f7f7)); /* Chrome,Safari4+ */ background: -webkit-linear-gradient(top, #dfcbd2 0px, #f7f7f7 200px); /* Chrome10+,Safari5.1+ */ background: -o-linear-gradient(top, #dfcbd2 0px, #f7f7f7 200px); /* Opera 11.10+ */ background: -ms-linear-gradient(top, #dfcbd2 0px, #f7f7f7 200px); /* IE10+ */ background: linear-gradient(to bottom, #dfcbd2 0px, #f7f7f7 200px); /* W3C */ filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dfcbd2', endColorstr='#f7f7f7',GradientType=0 ); /* IE6-9 */ background-repeat: no-repeat; line-height: 1.2em; }

a { color: #c2098c; text-decoration: none; }

a:hover, a:focus { color: #e61235; text-decoration: underline; }

.post-num > a { color: #000000; }

.post-num > a:hover, .post-num > a:focus { color: #e61235; }

.postform { max-width: 400px; margin: 0 auto; }

.postform textarea { font: 100% Arial, Helvetica, sans-serif; width: 100%; }

.form-tags { width: 100%; font-size: 0.8em; width: 100%; display: flex; flex-flow: row wrap; }

.form-tags label { flex: 1 1 20%; width: 100%; cursor: pointer; margin: 1px; }

.form-tags label :checked + span { font-weight: bold; text-decoration: underline; }

.form-tags label input { font: 0.8em Arial, Helvetica, sans-serif; display: none; }

.form-tags label:hover { text-decoration: underline; }

.form-persona { width: 100%; display: flex; flex-direction: row; }

.form-persona .field { flex: 1 1 0%; width: 0px; }

.form-file-and-submit input[type=submit] { float: right; }

#logo { margin: 0 0 1em; }

#logo > img { display: block; margin: 0 auto; }
